.productList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

h2 {
    text-align: center;
}

@media (max-width: 600px) {
    .productList {
        grid-template-columns: 1fr;
    }
}